html{
  font-size: 18px;
}

*{
  font-family: Helvetica;
}

.site{
  width: 100%;
}

.top, .headline{
  background-color: black;
  color: white;
  text-transform: uppercase;
}

.top{
  height: 2.32rem;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.container-top{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 960px;
}

.backimg{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  width: 100%;
  height: 25rem;
  background-size: cover;
  background-position: center;
}

.lgr-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 9rem;
  padding-bottom: auto;
}

.container-bk{
  display: flex;
  justify-content: flex-start;
  width: 960px;
}

.headline{
  justify-content: flex-start;
  width: 25rem;
  height: 10.5rem;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-left: 3rem;
}

.headline h2{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: -0.75rem;
}

.headline h1{
  font-size: 2rem;
  font-weight: bold;
}

.top img{
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.top h2{
  font-family: Helvetica;
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

nav{
  background-color: firebrick;
  display: inline-flex;
  width: 100%;
  height: 2.5rem;
  justify-content: center;
}

.container-nav{
  display: flex;
  width: 960px;
  justify-content: space-between;
}

.op{
  font-size: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: white;
}

.items{
  display: flex;
  flex-flow: row wrap;
  width: 960px;
  justify-content: space-between;
  background-color: white;
}

.pen, .watch, .glasses{
  margin-top: 3rem;
  border: 4px solid black;
  background-color: black;
  height: 14rem;
  width: 30%;
  justify-content: center;
}

.imgback img{
  height: 9rem;
  max-width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
}

.imgback{
  background-color: white;
}

.pen h3, .watch h3, .glasses h3{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  color: white;
  font-weight: normal;
}

.info{
  display: flex;
  width: 960px;
  flex-direction: row;
  padding-bottom: 4rem;
}

.location, .hours{
  display: flex;
  width: 35%;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: normal;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 1rem auto 1rem;
}

.details{
  background-color: white;
  color: black;
}

.footer{
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: center;
  background-color: black;
}

.foot-container{
  display: flex;
  justify-content: flex-start;
}

.foot-container h3{
  color: white;
  font-size: 1rem;
  font-weight: normal;
}
