html{
  font-size: 18px;
}

*{
  font-family: Helvetica;
}

.site{
  width: 100%;
}

.top, .headline{
  background-color: black;
  color: white;
  text-transform: uppercase;
}

.top{
  height: 2.32rem;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.container-top{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 960px;
}

.op2{
  display: none;
}

.backimg{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  width: 100%;
  height: 25rem;
  background-size: cover;
  background-position: center;
}

.lgr-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 9rem;
  padding-bottom: auto;
}

.container-bk{
  display: flex;
  justify-content: flex-start;
  width: 960px;
}

.headline{
  justify-content: flex-start;
  width: 25rem;
  height: 10.5rem;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-left: 3rem;
}

.headline h2{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: -0.75rem;
}

.headline h1{
  font-size: 2rem;
  font-weight: bold;
}

.top img{
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.top h2{
  font-family: Helvetica;
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

nav{
  background-color: firebrick;
  display: inline-flex;
  width: 100%;
  height: 2.5rem;
  justify-content: center;
}

.container-nav{
  display: flex;
  width: 960px;
  justify-content: space-between;
}

.op{
  font-size: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: white;
}

.items{
  display: flex;
  flex-flow: row nowrap;
  width: 960px;
  justify-content: space-between;
  margin: 0px auto;
}

.pen, .watch, .glasses{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 4px solid black;
  background-color: black;
  height: 14rem;
  width: 30%;
  justify-content: center;
}

.imgback img{
  max-height: 5.5rem;
  max-width: 55%;
  margin: 0px auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
}

.imgback{
  background-color: white;
}

.pen h3, .watch h3, .glasses h3{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  background-color: black;
  color: white;
  font-weight: normal;
  justify-content: center;
}

.info{
  display: flex;
  width: 960px;
  margin: 0px auto;
  flex-direction: row;
  justify-content: space-between;
}

.location, .hours{
  display: flex;
  flex-direction: column;
  width: 35%;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: normal;
  justify-content: space-between;
  margin: 0px auto;
  padding: 2rem 1rem auto 1rem;
}

.location{
  margin-right: 15%;
}

.hours{
  margin-left: 15%;
}

.location h3, .hours h3{
  font-size: 1rem;
  font-weight: normal;
  padding: 2rem 1rem auto 1rem;
}

.details{
  background-color: white;
  color: black;
}

footer{
  display: flex;
  min-height: 5rem;
  width: 100%;
  justify-content: center;
  background-color: black;
  padding-top: 4rem;
}

.foot-container{
  display: flex;
  justify-content: flex-start;
  width: 960px;
  background-color: black;
}

.foot-container h3{
  color: white;
  font-size: 1rem;
  font-weight: normal;
}

/* Tablet layout */

@media only screen and (max-width: 1024px){
  main .items, main .info{
    width: 100%;
  }
  .headline h2{
    font-size: 0.9rem;
  }
  .headline h1{
    font-size: 1.5rem;
  }
  .op{
    display: none;
  }
  .op2{
    display: inline;
    font-weight: bold;
    color: white;
    margin: 0px auto;
  }
  .glasses{
    display: none;
  }
  .pen, .watch{
    max-width: 47%;
  }
}

/* Mobile layout */

@media only screen and (max-width: 470px){
  .headline h2{
    font-size: 0.77rem;
  }
  .headline h1{
    font-size: 1rem;
  }
  .headline{
    margin-top: 2rem;
    height: auto;
    width: 100%;
    padding-top: 0px;
    padding-left: 3rem;
  }
  .backimg{
    height: 15rem;
  }
  .watch{
    display: none;
  }
  .pen{
    min-width: 90%;
    height: 15rem;
  }
  .pen h3{
    margin: 0px auto;
  }
  main .items, main .info{
    width: 100%;
  }
  .info{
    flex-flow: column wrap;
  }
  .location, .hours{
    width: 90%;
    margin: 0px auto;
  }
  .foot-container{
    justify-content: center;
  }
  footer{
    justify-content: center;
  }
}
